/* Container for the entire AI page */
body {
  background-color: black;
}

.ai-page-container {
  display: flex;
  height: 97vh;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

/* Sidebar styles */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 296px;
  background-color: transparent;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transform: translateX(-125%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-container.open {
  transform: translateX(0);
}

/* Toggle button to open/close sidebar */
.toggle-btn {
  position: fixed;
  top: 17px;
  left: 31px;
  z-index: 1100;
  padding: 4px 21px;
  background-color: transparent;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 900;
  font-size: larger;
  border: 1px solid white;
  backdrop-filter: blur(10px);

}

/* Main content area */
.ai-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  align-items: center;
}

/* Header section */
.ai-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid #dddddd99;
  color: white;
  width: 96%;
  border-radius: 20px;
}

/* Logo section */
.ai-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 70px;
}

.ai-logo img {
  height: 32px;
  width: 32px;
}

/* User info section */
.ai-user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.user-details strong {
  font-size: 16px;
}

.user-details span {
  font-size: 14px;
  color: #a79f9f;
}

.ai-user-info button {
  padding: 6px 12px;
  background-color: transparent;
  box-shadow: 0 0 10px #2600ff, 0 0 20px #00ffcc, 0 0 30px #2600ff;
  transition: box-shadow 0.3s ease-in-out;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ai-user-info button:hover {
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ffe100, 0 0 30px #ff0000;
}

/* Selected chat display */
.selected-chat {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #eee;
  overflow-y: auto;
}